.list{
    width:80%; margin: 100px auto;
    text-align:center;
}
.list > h2{ font-size:  3rem; margin: 50px 0 ;}
.list > div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top:20px;
}
.list > p{border-radius: 10px;  padding: 15px;text-align: center;margin: 50px 0;}
.list > p input{padding: 10px; margin:0;border:0}
.list > div > figure{width:30%; margin-bottom: 5%;}
.list > div > figure img{width:100%;}

.detail{
    width:100%; height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.detail article{
    background: #fff;
    border-radius: 30px;
    padding: 60px;
    width:80%; margin: 0 auto;
}
.detail ul{
    list-style: none;
}
.detail li{
    padding: 20px 0;
}